<header>
  <div class="logo-container">
    <img src="assets/photo/logo.png" alt="Логотип" class="logo" />
  </div>
  <h2 class="title">Расписание автобусных рейсов</h2>
  <div class="nav-links">
    <a routerLink="/" class="nav-link" routerLinkActive="active-link">Главная</a>
  </div>
</header>

<section class="filters">
  <h2>Фильтры</h2>
  <div class="filter-group">
    <div class="filter-item">
      <input type="text" placeholder="Откуда" [(ngModel)]="filters.from" />
    </div>
    <div class="filter-item">
      <input type="text" placeholder="Куда" [(ngModel)]="filters.to" />
    </div>
    <div class="filter-item">
      <input type="date" [(ngModel)]="filters.date" />
    </div>
    <div class="filter-item">
      <input type="number" placeholder="Макс. цена" [(ngModel)]="filters.price" />
    </div>
    <div class="filter-item">
      <button (click)="applyFilters()">Применить</button>
    </div>
  </div>
</section>

<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>

<section class="best-offers">
  <h3>Лучшие предложения</h3>
  <div class="offers">
    <div *ngFor="let bus of popularDestinations" class="offer-card">
      <img [src]="bus.image" [alt]="bus.route">
      <div class="offer-details">
        <h4>{{ bus.route }}</h4>
        <p>Цена: {{ bus.price | currency:'USD' }}</p>
        <p>{{ bus.description }}</p>
        <button class="buy-ticket" (click)="addToCart(bus.route, bus.price, bus.image)">
          Купить билет
        </button>
      </div>
    </div>
  </div>
</section>

<section>
  <h2>Популярные маршруты</h2>
  <div class="destination-grid">
    <div class="destination-container" *ngFor="let destination of popularDestinations">
      <img [src]="destination.image" [alt]="destination.route">
      <div class="destination-info">
        <span class="destination-name">{{ destination.route }}</span><br>
        <span class="destination-price">Цена: {{ destination.price | currency:'USD':true }}</span>
        <button class="buy-ticket" (click)="addToCart(destination.route, destination.price, destination.image)">
          Купить билет
        </button>
      </div>
    </div>
  </div>
</section>

<section class="reviews">
  <div class="container">
    <h2>Отзывы пользователей</h2>
    <div class="review-cards">
      <div *ngFor="let review of reviews" class="review-card">
        <p class="review-text">"{{ review.text }}"</p>
        <p class="review-author">- {{ review.author }}</p>
      </div>
    </div>
  </div>
</section>

<section class="map">
  <h2>Карта маршрутов</h2>
  <div id="map" style="height: 300px;"></div>
</section>

<footer>
  <div class="footer-container">
    <div class="footer-contact">
      <h3>Контакты</h3>
      <p>Телефон: +1 800 123 456</p>
      <p>Email: buscompany&#64;gmail.com</p>
    </div>
    <div class="footer-social">
      <h3>Следите за нами</h3>
      <a href="https://www.instagram.com/" target="_blank">
        <img src="assets/photo/logo.inst.png" alt="Instagram" class="social-icon">
      </a>
      <a href="https://www.facebook.com/" target="_blank">
        <img src="assets/photo/facebook.png" alt="Facebook" class="social-icon">
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Bus Tickets. Все права защищены.</p>
  </div>
</footer>
