<header>
  <div class="logo-container">
    <img [src]="getAsset('/photo/logo.png')" alt="Логотип" class="logo" />
  </div>
  <h2 class="title">Розклад автобусних рейсів</h2>
  <div class="nav-links">
    <a routerLink="/" class="nav-link" routerLinkActive="active-link">Головна</a>
  </div>
</header>
<section class="filters">
  <h2>Фільтри</h2>
  <div class="filter-group">
    <div class="filter-item">
      <mefdev-select [(ngModel)]="filters.from" [PlaceHolder]="'Звідки'" [FirstDefault]="false">
        <mefdev-option *ngFor="let destination of destinations" [Label]="destination.prettyName" [Value]="destination.name"></mefdev-option>
      </mefdev-select>      
    </div>

    <div class="filter-item">
      <mefdev-select [(ngModel)]="filters.to" [PlaceHolder]="'Куди'" [FirstDefault]="false">
        <mefdev-option *ngFor="let destination of destinations" [Label]="destination.prettyName" [Value]="destination.name"></mefdev-option>
      </mefdev-select>
    </div>

    <div class="filter-item">
      <mat-form-field appearance="fill">
        <mat-label>Дата</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="filters.date" (dateChange)="updateDiscountMessage()" placeholder="Оберіть дату">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    
    <div class="filter-item">
      <mat-form-field appearance="fill">
        <mat-label>Час</mat-label>
        <input matInput [ngxTimepicker]="timepicker" [(ngModel)]="filters.time" (change)="updateDiscountMessage()" placeholder="Оберіть час">
        <ngx-material-timepicker #timepicker></ngx-material-timepicker>
      </mat-form-field>
    </div>
    
    <div *ngIf="timeToDepartureMessage" class="time-message">
      <p>{{ timeToDepartureMessage }}</p>
    </div>
  
    <div class="filter-item">
      <mefdev-select [(ngModel)]="filters.busType" [PlaceHolder]="'Тип автобуса'">
        <mefdev-option [Label]="'Люкс'" [Value]="'luxury'"></mefdev-option>
        <mefdev-option [Label]="'Звичайний'" [Value]="'regular'"></mefdev-option>
      </mefdev-select>
    </div>

    <div class="filter-item">
      <mefdev-select [(ngModel)]="filters.sortOrder" [PlaceHolder]="'Сортування'">
        <mefdev-option [Label]="'Ціна за зростанням'" [Value]="'asc'"></mefdev-option>
        <mefdev-option [Label]="'Ціна за спаданням'" [Value]="'desc'"></mefdev-option>
      </mefdev-select>
    </div>

    <div class="filter-item">
      <button (click)="applyFilters()">Застосувати фільтри</button>
    </div>
  </div>
</section>

<div class="selected-route-info" *ngIf="showRouteImage">
  <h3>Обраний маршрут: {{ filters.from }} - {{ filters.to }}</h3>
  <div *ngIf="filters.from && filters.to">
    <div class="city-images">
      <div class="city-info">
        <h4>{{ filters.from }}</h4>
        <div>
          <img [src]="getCityImage(filters.from)" alt="{{ filters.from }}" class="route-image" />
        </div>
        <p>{{ getCityDescription(filters.from) }}</p>
        <button (click)="addToCart(filters.from, getCityPrice(filters.from), getCityImage(filters.from))">Придбати квиток</button>
      </div>

      <div class="city-info">
        <h4>{{ filters.to }}</h4>
        <div>
          <img [src]="getCityImage(filters.to)" alt="{{ filters.to }}" class="route-image" />
        </div>
        <p>{{ getCityDescription(filters.to) }}</p>
        <button (click)="addToCart(filters.to, getCityPrice(filters.to), getCityImage(filters.to))">Придбати квиток</button>
      </div>
    </div>
  </div>
  <div *ngIf="isHolidayDiscountApplied()" class="discount-message">
    🎉 Сьогодні діє знижка {{ getHolidayDiscount() * 100 }}% на квитки!
  </div>
</div>


<section class="best-offers">
  <h3>Найкращі пропозиції</h3>
  <div class="offers">
    <div *ngFor="let bus of filteredBuses" class="offer-card">
      <div class="offer-image-container">
        <img [src]="bus.image" [alt]="bus.route" class="offer-image">
      </div>
      <div class="offer-details">
        <h4>{{ bus.route }}</h4>
        <p>Ціна: 
          <span *ngIf="getHolidayDiscount() > 0">
            <span class="old-price">{{ bus.price | currency:'USD' }}</span>
            {{ bus.price * (1 - getHolidayDiscount()) | currency:'USD' }}
          </span>
          <span *ngIf="getHolidayDiscount() === 0">{{ bus.price | currency:'USD' }}</span>
        </p>
        <p>{{ bus.description }}</p>
        <button class="buy-ticket" (click)="addToCart(bus.route, bus.price, bus.image)">
          Придбати квиток
        </button>
      </div>
    </div>
  </div>
</section>

<section>
  <h2>Популярні маршрути</h2>
  <div class="destination-grid">
    <div class="destination-container" *ngFor="let destination of popularDestinations">
      <img [src]="destination.image" [alt]="destination.route" class="destination-image">
      <div class="destination-info">
        <span class="destination-name">{{ destination.route }}</span><br>
        <span class="destination-price">
          <span *ngIf="isHolidayDiscountApplied()">
            {{ destination.price * (1 - getHolidayDiscount()) | currency:'USD' }}
          </span>
        </span>
        <span *ngIf="!isHolidayDiscountApplied()">{{ destination.price | currency:'USD' }}</span>
        <button class="buy-ticket" (click)="addToCart(destination.route, destination.price, destination.image)">
          Придбати квиток
        </button>
      </div>
      <div class="tracking-container">
        <button class="track-button" (click)="trackRoute(destination.route, destination.departureTime)">
          Відстежувати рейс
        </button>
      </div>
    </div>
  </div>
</section>
<section class="discount-subscription">
  <h2>Отримати знижку</h2>
  <form (ngSubmit)="subscribeForDiscount()" #emailForm="ngForm">
    <div class="email-input">
      <input
        type="email"
        [(ngModel)]="userEmail"
        placeholder="Введіть ваш email"
        class="email-input-field"
        name="email"
        required
        #email="ngModel"
      />
      <div *ngIf="email.invalid && email.touched" class="error-message">
        Будь ласка, введіть правильний email.
      </div>
    </div>
    <button type="submit" class="subscribe-button" [disabled]="emailForm.invalid">
      Підписатися на знижку
    </button>
  </form>
</section>

<section class="reviews">
  <div class="container">
    <h2>Відгуки користувачів</h2>
    <div class="review-cards">
      <div *ngFor="let review of reviews" class="review-card">
        <p class="review-text">"{{ review.text }}"</p>
        <p class="review-author">– {{ review.author }}</p>
        <p class="review-rating">
          <ng-container *ngFor="let star of [].constructor(review.rating)">
            ⭐
          </ng-container>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="map">
  <h2>Карта маршрутів</h2>
  <div id="map" style="height: 300px;"></div>
</section>

<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>

<footer>
  <div class="footer-container">
    <div class="footer-contact">
      <h3>Контакти</h3>
      <p>Телефон: +1 800 123 456</p>
      <p>Email: buscompany&#64;gmail.com</p>
    </div>
    <div class="footer-social">
      <h3>Слідкуйте за нами</h3>
      <a href="https://www.instagram.com/" target="_blank">
        <img [src]="getAsset('/photo/logo.inst.png')" alt="Instagram" class="social-icon">
      </a>
      <a href="https://www.facebook.com/" target="_blank">
        <img [src]="getAsset('/photo/facebook.png')" alt="Facebook" class="social-icon">
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Bus Tickets. Усі права захищені.</p>
  </div>
</footer>



