<header>
  <div class="logo-container">
    <img [src]="getAsset('/photo/logo.png')" alt="Логотип" class="logo" />
  </div>
  <h2 class="title">Розклад автобусних рейсів</h2>
  <div class="nav-links">
    <a routerLink="/" class="nav-link" routerLinkActive="active-link">Головна</a>
  </div>
</header>
<section class="filters">
  <h2>Фільтри</h2>
  <div class="filter-group">
    <div class="filter-item">
      <select [(ngModel)]="filters.from" [disabled]="showRouteImage">
        <option value="">Звідки</option>
        <option *ngFor="let destination of destinations" [value]="destination.name">{{ destination.prettyName }}</option>
      </select>
    </div>

    <div class="filter-item">
      <select [(ngModel)]="filters.to" [disabled]="showRouteImage">
        <option value="">Куди</option>
        <option *ngFor="let destination of destinations" [value]="destination.name">{{ destination.prettyName }}</option>
      </select>
    </div>

    <div class="filter-item">
      <input type="date" [(ngModel)]="filters.date" />
    </div>

    <div class="filter-item">
      <select [(ngModel)]="filters.busType">
        <option value="">Тип автобуса</option>
        <option value="luxury">Люкс</option>
        <option value="regular">Звичайний</option>
      </select>
    </div>

    <div class="filter-item">
      <select [(ngModel)]="filters.sortOrder">
        <option value="asc">Ціна за зростанням</option>
        <option value="desc">Ціна за спаданням</option>
      </select>
    </div>

    <div class="filter-item">
      <button (click)="applyFilters()">Застосувати фільтри</button>
    </div>
  </div>
</section>

<div class="selected-route-info" *ngIf="showRouteImage">
  <h3>Обраний маршрут: {{ filters.from }} - {{ filters.to }}</h3>
  <div *ngIf="filters.from && filters.to">
    <div class="city-images">
      <div class="city-info">
        <h4>{{ filters.from }}</h4>
        <div>
          <img [src]="getCityImage(filters.from)" alt="{{ filters.from }}" class="route-image" />
        </div>
        <p>{{ getCityDescription(filters.from) }}</p>
        <button (click)="addToCart(filters.from, getCityPrice(filters.from), getCityImage(filters.from))">Придбати квиток</button>
      </div>

      <div class="city-info">
        <h4>{{ filters.to }}</h4>
        <div>
          <img [src]="getCityImage(filters.to)" alt="{{ filters.to }}" class="route-image" />
        </div>
        <p>{{ getCityDescription(filters.to) }}</p>
        <button (click)="addToCart(filters.to, getCityPrice(filters.to), getCityImage(filters.to))">Придбати квиток</button>
      </div>
    </div>
  </div>
  <div *ngIf="isHolidayDiscountApplied()" class="holiday-discount">
    <p class="discount-text">Знижка {{ getHolidayDiscount() * 100 }}% на празник!</p>
  </div>
</div>

<section class="best-offers">
  <h3>Найкращі пропозиції</h3>
  <div class="offers">
    <div *ngFor="let bus of filteredBuses" class="offer-card">
      <div class="offer-image-container">
        <img [src]="bus.image" [alt]="bus.route" class="offer-image">
                <div *ngIf="getHolidayDiscount() > 0" class="discount-overlay">
          <p class="discount-text">Знижка {{ getHolidayDiscount() * 100 }}% на празник!</p>
        </div>
      </div>
      <div class="offer-details">
        <h4>{{ bus.route }}</h4>
        <p>Ціна: 
          <span *ngIf="getHolidayDiscount() > 0">
            <span class="old-price">{{ bus.price | currency:'USD' }}</span>
            {{ bus.price * (1 - getHolidayDiscount()) | currency:'USD' }}
          </span>
          <span *ngIf="getHolidayDiscount() === 0">{{ bus.price | currency:'USD' }}</span>
        </p>
        <p>{{ bus.description }}</p>
        <button class="buy-ticket" (click)="addToCart(bus.route, bus.price, bus.image)">
          Придбати квиток
        </button>
      </div>
    </div>
  </div>
</section>

<section>
  <h2>Популярні маршрути</h2>
  <div class="destination-grid">
    <div class="destination-container" *ngFor="let destination of popularDestinations">
      <img [src]="destination.image" [alt]="destination.route" class="destination-image">
      <div class="destination-info">
        <span class="destination-name">{{ destination.route }}</span><br>
        <span class="destination-price">
          <span *ngIf="getHolidayDiscount() > 0">
            <span class="old-price">{{ destination.price | currency:'USD' }}</span>
            {{ destination.price * (1 - getHolidayDiscount()) | currency:'USD' }}
          </span>
          <span *ngIf="getHolidayDiscount() === 0">{{ destination.price | currency:'USD' }}</span>
        </span>
        <button class="buy-ticket" (click)="addToCart(destination.route, destination.price, destination.image)">
          Придбати квиток
        </button>
      </div>
    </div>
  </div>
</section>



<section class="reviews">
  <div class="container">
    <h2>Відгуки користувачів</h2>
    <div class="review-cards">
      <div *ngFor="let review of reviews" class="review-card">
        <p class="review-text">"{{ review.text }}"</p>
        <p class="review-author">- {{ review.author }}</p>
      </div>
    </div>
  </div>
</section>

<section class="map">
  <h2>Карта маршрутів</h2>
  <div id="map" style="height: 300px;"></div>
</section>
<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>

<footer>
  <div class="footer-container">
    <div class="footer-contact">
      <h3>Контакти</h3>
      <p>Телефон: +1 800 123 456</p>
      <p>Email: buscompany&#64;gmail.com</p>
    </div>
    <div class="footer-social">
      <h3>Слідкуйте за нами</h3>
      <a href="https://www.instagram.com/" target="_blank">
        <img [src]="getAsset('/photo/logo.inst.png')" alt="Instagram" class="social-icon">
      </a>
      <a href="https://www.facebook.com/" target="_blank">
        <img [src]="getAsset('/photo/facebook.png')" alt="Facebook" class="social-icon">
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Bus Tickets. Усі права захищені.</p>
  </div>
<footer>
